CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode
.cache
out
CMakeSettings.json
.vs
*.pb.cc
*.pb.h

cold_old